@media (min-width: 1760px) 
    * 
        font-size: 20px


    .section-title
        font-size: 75px
        

    #home       
        .home-main
            height: 85%

            .home-main-text-shell
                .home-main-text_bg
                    font-size: 165px
                    top: -3vh
                    letter-spacing: -6px

                .home-main-text
                    font-size: 110px
                
                .home-main-text-extra
                    font-size: 22px

                    
    #about-target
        .why-target-area
            height: 100vh
            margin-bottom: 10vh

            .why-target-shell
                .why-target-text
                    font-size: 36px

        .benefits-area
            width: 90vw
            padding: 0 5vw




    #services
        margin: 50vh 0 40vh 0
        height: 1000px
        width: 100vw


        .services-area
            width: 80%
            padding: 0 10%

            .service-shell
                width: 320px
                height: 500px

                .price-area
                    .discount-num
                        padding: 13px 20px
                        font-size: 26px

                    .price-sale
                        .old-price
                            font-size: 24px

                    .price-shell
                        .price-currency
                            font-size: 50px
                        .price
                            font-size: 85px

                .service-text-area
                    .service-text
                        font-size: 26px
                    .service-text-extra
                        font-size: 17px

                .order-but-area
                    .order-but
                        padding: 10px 25px

                        


    #how-it-works
        width: 80vw
        padding: 10vw 10vw 10% 10vw 

        h2
            width: 45%

        .how-text-area 
            width: 55%

            p
                font-size: 22px
                .how-point
                    font-size: 36px

                .anti-reveal-how-text
                    font-size: 22px

            .how-num-1
                top: 200px
            .how-num-2
                top: 280px
            .how-num-3
                top: 360px
            .how-num-4
                top: 440px
            .how-num-5
                top: 520px
            .how-num-6
                top: 600px
            .how-num-7
                top: 680px
            .how-num-8
                top: 760px
                



    #portfolio
        height: 850px
        .portfolio-title
            width: 550px
            left: 12%
            font-size: 80px

        .projects-area
            .projects
                .project
                    margin: 0 15px
                    width: 360px
                    height: 600px
                    border-radius: 45px

            .portfolio_cursor-but
                height: 80px
                width: 80px




    #contact
        width: 85vw
        height: 1300px
        padding: 10vh 5vw

        .contact-title-area
            height: 20vh
            padding: 0 5%

        .inputs-area
            height: 130vh
            margin-top: 30px

            .forms
                .input-shell
                    margin: 10px 0
                    .contact-input-label
                        font-size: 26px
                        margin-bottom: 10px
                        span
                            font-size: 19px

                    .contact-input
                        height: 45px
                        width: 450px

                    .contact-input-textarea
                        height: 160px


                .ckechbox-shell
                    width: 520px

                    .contact-input-label
                        font-size: 26px

                    .contact-service-shell
                        margin: 12px 0
                        height: 65px

                        .checkbox
                            width: 30px
                            height: 30px
                            border-radius: 6px



            .submit-but-area
                height: fit-content
                margin-top: 15px

                .submit-but
                    border-radius: 60px
                    padding: 13px 30px
                            



            .contacts-extra-area
                .contacts-extra
                    .contacts-extra-text
                        margin-bottom: 45px
                        font-size: 22px

                    .contact-extra-shell
                        .icon
                            height: 100%
                            width: 45px
                            margin-right: 13px

                        .email, .telegram
                            font-size: 50px



            $submit-popup-height: 570px
            .submit-popup
                height: 120px
                left: calc( 50% - $submit-popup-height / 2 )
                width: $submit-popup-height
                border-radius: 34px

                img
                    height: 80px
                    width: 80px

                .submit-popup_text-area
                    height: 55%
                    h4
                        font-size: 26px
                    p
                        font-size: 19px



    footer
        .footer-links-area
            .footer-links
                .the-name
                    font-size: 26px
                    font-weight: 700










@media (max-width: 1300px) 
    * 
        font-size: 20px


    .section-title
        font-size: 60px
        

    #home       
        .home-main
            height: 85%

            $home-main-text-shell_padding: 30px
            .home-main-text-shell
                padding-top: $home-main-text-shell_padding
                width: calc( 100% - $home-main-text-shell_padding )
                .home-main-text_bg
                    font-size: 100px
                    letter-spacing: -6px

                .home-main-text
                    font-size: 70px
                    text-shadow: 0px 0px 100px rgba(255, 167, 81, 0.5)
                

                    
    #about-target
        .why-target-area
            height: 100vh
            margin-bottom: 10vh

            .why-target-shell
                .why-target-text
                    font-size: 36px

        .benefits-area
            width: 90vw
            padding: 0 5vw

        .about-text-shell
            height: 650px
            min-height: 500px
            width: 70%
            padding: 0 15%
            // text-align: center
            .about-text
                line-height: 30px
                color: #B4BCD0

                .highlight-underline
                    color: #B4BCD0
                    padding-bottom: 3px 
                    border-bottom: 2px solid #ffa751
                    span
                        color: #B4BCD0
                .highlight
                    color: #ffa751




    #services
        margin: 50vh 0 40vh 0
        height: 1450px
        width: 100vw

        h2
            width: 100%
            height: 10%
            align-items: center

        .services-area
            height: 80%
            width: 80%
            padding: 5% 10%
            flex-wrap: wrap

            .service-shell
                border-radius: 40px
                background: #161B22
                border: 1px solid #2F353D
                width: 300px
                height: 460px

            .service-shell_main
                order: -1
                margin: 0 25%


                        


    #how-it-works
        width: 80vw
        padding: 10vw 10vw 10% 10vw 

        h2
            width: 40%
            top: 120px

        .how-text-area 
            width: 60%

            .how-num-1
                top: 160px
            .how-num-2
                top: 230px
            .how-num-3
                top: 300px
            .how-num-4
                top: 370px
            .how-num-5
                top: 440px
            .how-num-6
                top: 510px
            .how-num-7
                top: 580px
            .how-num-8
                top: 650px
                    



    #portfolio
        height: 900px
        .portfolio-title
            width: 100%
            text-align: center
            left: 0
            top: 10%
        .portfolio-title_active
            color: #726ecf


        .projects-area
            margin-top: 15%
            height: 85%

            .projects-clickable-area
                height: 80%
                width: 25%
            .projects-clickable-area-left
                border-radius: 0 30px 30px 0
                left: -200%
            .projects-clickable-area-right
                border-radius: 30px 0 0 30px 
                right: 0
                width: 100%
            .projects-clickable-area-left_active
                left: 0
            .projects-clickable-area-right_active
                width: 25%

            .projects
                margin-left: 30%

            .projects-active
                margin-left: 5%




    #contact
        // width: 85vw
        height: 1450px 
        // padding: 10vh 5vw

        .contact-title-area
            padding: 0 5%
            p
                width: 45%

        .inputs-area
            flex-direction: column
            margin-top: 50px


            .contact-extra-line-shell
                display: none


            .contacts-extra-area
                // margin-top: 5%
                width: 100%
                // padding: 0 5%
                justify-content: start
                .contacts-extra
                    height: 100%
                    display: flex
                    justify-content: end
                    flex-direction: column
                    .contacts-extra-text
                        display: none

                    .contact-extra-shell
                        margin: 10px 0
                        .icon
                            height: 100%
                            width: 40px
                            margin-right: 13px

                        .email, .telegram
                            font-size: 45px



            $submit-popup-height: 500px
            .submit-popup
                height: 110px
                left: calc( 50% - $submit-popup-height / 2 )
                width: $submit-popup-height
                border-radius: 30px

                img
                    height: 65px
                    width: 65px

                .submit-popup_text-area
                    height: 50%
                    h4
                        font-size: 22px
                    p
                        font-size: 18px

    footer
        margin: 50px 0 3vh 0










@media (max-width: 1024px) 
    * 
        font-size: 16px


    .section-title
        font-size: 45px
        

    #home
        .nav-bar-area
            height: 15%
            padding: 0 5%

            .nav-bar
                width: 725px
                height: 32px
                padding: 8px 10px
                top: 12px

                .the-name
                    font-size: 18px

                .home-contact-but
                    font-size: 15px
                
                .middle-buts
                    .middle-but-shell
                        font-size: 15px

                .navbar_close-but  
                    display: none



            .navbar-mobile-but
                display: none



        .home-main
            $home-main-text-shell_padding: 40px
            .home-main-text-shell
                padding-top: $home-main-text-shell_padding
                width: calc( 100% - $home-main-text-shell_padding )
                .home-main-text_bg
                    font-size: 82px
                    letter-spacing: -6px

                .home-main-text
                    font-size: 60px
                    margin: 30px 0 60px 0

                .home-main-text-extra
                    font-size: 19px
                

                    
    #about-target
        .why-target-area
            .why-target-shell
                .why-target-text
                    font-size: 27px
                .why-target-text_active
                    transform: scale(1.7)
            .why-target-arrow
                margin: 12px 0 0 0
                height: 35px

        .about-text-shell
            height: 650px
            width: 80%
            padding: 0 10%
            .about-text
                line-height: 25px


        .benefits-area
            min-height: 70vh
            height: fit-content
            width: 100vw
            padding: 0

            .benefit-card
                border-radius: 35px
                width: 480px
                height: 190px
                padding: 0 20px
                margin: 15px 30px

                .benefit-card-icon
                    width: 70px
                    height: 70px 
                
                .benefit-card-text
                    h4
                        font-size: 20px
                        margin-bottom: 15px 
                    p
                        color: #B4BCD0
                        font-size: 16px



    #services
        margin: 50vh 0 200px 0
        height: 1450px
        // width: 100vw

        .services-area
            height: 68%
            width: 86%
            padding: 5% 7%
            justify-content: center

            .service-shell
                border-radius: 40px
                background: #161B22
                border: 1px solid #2F353D
                width: 250px
                height: 390px
                margin: 0 20px
                .price-area
                    padding-bottom: 10%
                    height: 35%

                    .discount-num
                        // border-radius: 20px
                        // padding: 10px 15px
                        font-size: 20px

                    .price-shell
                        .price-currency
                            font-size: 40px
                        .price
                            font-size: 75px

                    .price-extra
                        font-size: 17px

                .service-text-area
                    width: 100%
                    height: 40%
                    @extend %flex
                    flex-direction: column

                    .service-text
                        font-size: 21px
                    .service-text-extra
                        font-size: 15px



            .service-shell_main
                width: 270px
                height: 420px
                order: -1
                margin: 0 20%
                box-shadow: 0px -10px 120px rgba(255, 167, 81, 0.2)
                border-color: #ffa751
                transform: scale(1.1) 
                .service-text-area
                    .service-text
                        font-size: 30px


                        


    #how-it-works
        width: 86vw
        padding: 10vw 7vw 10% 7vw 
        // flex-direction: column
        // justify-content: start

        h2
            width: 35%
            // text-align: center
            top: 100px

        .how-text-area 
            width: 65%

            p
                font-size: 16px
                .how-point
                    font-size: 28px

                .anti-reveal-how-text
                    font-size: 16px


            .how-num-1
                top: 110px
            .how-num-2
                top: 160px
            .how-num-3
                top: 220px
            .how-num-4
                top: 280px
            .how-num-5
                top: 340px
            .how-num-6
                top: 400px
            .how-num-7
                top: 460px
            .how-num-8
                top: 520px
                    



    #portfolio
        height: 650px
        .portfolio-title
            width: 100%
            text-align: center
            left: 0
            top: 10%
            font-size: 45px
        .portfolio-title_active
            color: #726ecf


        .projects-area
            margin-top: 15%
            height: 85%

            .projects-clickable-area
                height: 80%
                width: 25%
            .projects-clickable-area-left
                border-radius: 0 30px 30px 0
                left: -200%
            .projects-clickable-area-right
                border-radius: 30px 0 0 30px 
                right: 0
                width: 100%
            .projects-clickable-area-left_active
                left: 0
            .projects-clickable-area-right_active
                width: 25%

            .projects
                margin-left: 25%
                .project
                    margin: 0 8px
                    width: 250px
                    height: 400px
                    border-radius: 40px

            .projects-active
                margin-left: 2%




    #contact
        // width: 85vw
        height: 1450px 
        // padding: 10vh 5vw

        .contact-title-area
            height: 8%
            padding: 0 5%
            p
                width: 45%

        .inputs-area
            flex-direction: column
            margin-top: 40px

            .forms
                .input-shell
                    margin: 10px 0
                    .contact-input-label
                        font-size: 20px
                        // padding: 3px
                        // margin-bottom: 10px
                        span
                            font-size: 16px

                    .contact-input
                        height: 35px
                        width: 350px
                        padding: 5px 30px
                        font-size: 12px

                    .contact-input-textarea
                        border-radius: 30px
                        height: 140px
                        padding: 15px 30px


                .ckechbox-shell
                    width: 410px
                    margin: 15px 0

                    .contact-input-label
                        font-size: 20px
                        padding: 3px
                        width: 100%
                        margin-bottom: 10px

                    .contact-service-shell
                        height: 50px
                        width: 90%
                        padding: 0 5%
                        border-radius: 16px

                        .checkbox
                            width: 23px
                            height: 23px
                            margin: 0 10% 0 5%
                            .checkbox-filled
                                width: 70%
                                height: 70%
                                border-radius: 4px

                    .contact-service-target
                        border-radius: 26px 26px 12px 12px 
                    .contact-service-banners
                        border-radius: 12px 12px 26px 26px 


            .submit-but-area
                height: fit-content
                margin-top: 15px

                .submit-but
                    border-radius: 60px
                    padding: 11px 25px
                    background: inherit
                    border: 1px solid #5F6277
                    color: #5F6277
                    cursor: default
                    pointer-events: none

                .submit-but_active
                    border: 1px solid #fff
                    color: #000
                    background: #fff
                    pointer-events: auto
                    cursor: pointer
                .submit-but_active:hover
                    box-shadow: 0 5px 30px 0 hsla(0, 0%, 100%, 0.5)


            .contact-extra-line-shell
                display: none


            .contacts-extra-area
                // margin-top: 5%
                width: 100%
                // padding: 0 5%
                justify-content: start
                .contacts-extra
                    height: 100%
                    display: flex
                    justify-content: end
                    flex-direction: column
                    .contacts-extra-text
                        display: none

                    .contact-extra-shell
                        margin: 10px 0
                        .icon
                            height: 100%
                            width: 40px
                            margin-right: 13px

                        .email, .telegram
                            font-size: 35px


            $submit-popup-height: 470px
            .submit-popup
                height: 105px
                top: 75px
                left: calc( 50% - $submit-popup-height / 2 )
                width: $submit-popup-height
                border-radius: 28px

                img
                    height: 60px
                    width: 60px

                .submit-popup_text-area
                    height: 50%
                    h4
                        font-size: 20px
                    p
                        font-size: 16px

    footer
        margin: 25px 0 3vh 0

        .footer-links-area
            .footer-links
                .the-name
                    font-size: 20px







@media (min-width: 850px) and (max-width: 1024px) 
    #portfolio
        .projects-area
            .projects
                margin-left: 27%
            .projects-active
                margin-left: 2%








@media (max-width: 767px) 
    * 
        font-size: 16px


    .section-title
        font-size: 40px
        

    #home
        .nav-bar-area
            height: 15%
            padding: 0 5%

            .nav-bar
                height: 93.5vh
                width: 100.5vw
                flex-direction: column
                justify-content: space-evenly
                border-width: 0
                transform: translateY(0)
                position: fixed
                top: 0
                left: 0
                padding: 7vh 0 0 0
                border-radius: 0
                backdrop-filter: blur(35px)
                border-radius: 0 0 80px 80px
                transform: translateY(-200%)

                .the-name
                    font-size: 40px

                .home-contact-but
                    padding: 17px 22px
                    font-size: 24px
                
                .middle-buts
                    height: 40%
                    width: 100%
                    flex-direction: column
                    justify-content: space-evenly

                    .middle-but-shell
                        height: fit-content
                        padding: 18px 24px
                        font-size: 24px

                    .middle-but-shell_active
                        background: #323030
                        // box-shadow: 0px 10px 60px rgba(255, 255, 255, 0.4)
                        color: #fff
                        text-shadow: 0 0 20px hsla(0, 0%, 100%, 0.4)

                .navbar_close-but
                    display: block
                    width: 80px
                    height: 80px
                    margin: 7% 5% 2% 5%

            .navbar-mobile-but
                display: flex
                height: 60px
                width: 60px
                top: 25px
                right: 25px

            .navbar-company-title_mobile
                width: 90%
                height: 80%
                margin-top: 65px
                font-size: 25px
                display: block



        .home-main
            height: 85%

            $home-main-text-shell_padding: 50px
            .home-main-text-shell
                padding-top: $home-main-text-shell_padding
                width: calc( 100% - $home-main-text-shell_padding )
                .home-main-text_bg
                    font-size: 70px
                    letter-spacing: -6px
                    line-height: 70px
                    top: 6vh

                .home-main-text
                    font-size: 40px
                    text-shadow: 0px -10px 100px rgba(255, 167, 81, 0.5)
                .home-main-text-extra
                    font-size: 17px
    

    #about-target
        .why-target-area
            .why-target-shell
                .why-target-text
                    font-size: 27px
                .why-target-text_active
                    transform: scale(1.5)
            .why-target-arrow
                margin: 20px 0 0 0
                height: 50px

        .about-text-shell
            height: 650px
            width: 80%
            padding: 0 10%
            .about-text
                line-height: 25px


        .benefits-area
            min-height: 70vh
            height: fit-content

            .benefit-card
                border-radius: 35px
                width: 450px
                height: 170px
                padding: 0 20px
                margin: 12px 30px

                .benefit-card-icon
                    width: 60px
                    height: 60px 
                
                .benefit-card-text
                    h4
                        font-size: 19px
                        margin-bottom: 16px 
                    p
                        font-size: 15px


    #services
        margin: 50vh 0 200px 0
        height: 1700px

        h2
            height: 10%
            width: 70%
            padding: 0 15%

        .services-area
            height: 80%
            width: 86%
            padding: 5% 7%
            justify-content: center

            .service-shell
                border-radius: 40px
                background: #161B22
                border: 1px solid #2F353D
                width: 250px
                height: 390px
                margin: 0 15%
                .price-area
                    padding-bottom: 10%
                    height: 35%

                    .discount-num
                        font-size: 20px

                    .price-shell
                        .price-currency
                            font-size: 40px
                        .price
                            font-size: 75px

                    .price-extra
                        font-size: 17px

                .order-but-area
                    .order-but
                        border-radius: 60px
                        padding: 13px 35px


                .service-text-area
                    width: 100%
                    height: 40%
                    // @extend %flex
                    flex-direction: column

                    .service-text
                        font-size: 20px
                    .service-text-extra
                        font-size: 15px



            .service-shell_main
                width: 270px
                height: 420px
                order: -1
                margin: 35px 15%
                box-shadow: 0px -10px 120px rgba(255, 167, 81, 0.2)
                border-color: #ffa751
                transform: scale(1.09) 
                .service-text-area
                    .service-text
                        font-size: 26px
    


    #how-it-works
        width: 86vw
        padding: 10vw 7vw 10% 7vw 
        flex-direction: column
        justify-content: start

        h2
            width: 100%
            text-align: center
            top: 100px
            transition: all 0.3s ease

        .how-text-area 
            width: 100%

            p
                font-size: 16px
                .how-point
                    font-size: 28px

            .how-num-1
                top: 170px
            .how-num-2
                top: 220px
            .how-num-3
                top: 280px
            .how-num-4
                top: 340px
            .how-num-5
                top: 400px
            .how-num-6
                top: 460px
            .how-num-7
                top: 520px
            .how-num-8
                top: 580px



    #portfolio
        height: 650px
        margin: 250px 0

        .portfolio-title
            width: 100%
            text-align: center
            left: 0
            top: 10%
            font-size: 40px
        .portfolio-title_active
            color: #726ecf


        .projects-area
            margin-top: 15%
            height: 85%

            .projects-clickable-area
                height: 80%
                width: 20%
            .projects-clickable-area-left
                border-radius: 0 30px 30px 0
                left: -200%
            .projects-clickable-area-right
                border-radius: 30px 0 0 30px 
                right: 0
                width: 100%
            .projects-clickable-area-left_active
                left: 0
            .projects-clickable-area-right_active
                width: 20%

            .projects-clickable-area_mobile
                width: 60%
                margin: 0 0 0 20%


            .projects
                margin-left: 17%
                .project
                    margin: 0 8px
                    width: 250px
                    height: 400px
                    border-radius: 40px
                .project-2
                    z-index: 5
                    transform: scale(0.85) translateX(-90%)
                .project-3
                    z-index: 4
                    transform: scale(0.7) translateX(-230%)

            .projects-active
                margin-left: 2%





    #contact
        // width: 85vw
        height: 1450px 
        padding: 10vh 5vw 8vh 5vw

        .contact-title-area
            height: 8%
            padding: 0 5%
            p
                width: 70%

        .inputs-area
            flex-direction: column
            margin-top: 40px

            .forms
                .input-shell
                    margin: 10px 0
                    .contact-input-label
                        font-size: 18px
                        padding: 2px
                        // margin-bottom: 10px
                        span
                            font-size: 15px

                    .contact-input
                        height: 35px
                        width: 300px
                        padding: 5px 30px
                        font-size: 16px

                    .contact-input-textarea
                        border-radius: 30px
                        height: 140px
                        padding: 15px 30px


                .ckechbox-shell
                    width: 360px
                    margin: 15px 0

                    .contact-input-label
                        font-size: 20px
                        padding: 3px
                        width: 100%
                        margin-bottom: 10px

                    .contact-service-shell
                        height: 50px
                        width: 90%
                        padding: 0 5%
                        border-radius: 12px

                        .checkbox
                            width: 23px
                            height: 23px
                            margin: 0 10% 0 5%
                            .checkbox-filled
                                width: 70%
                                height: 70%
                                border-radius: 4px

                    .contact-service-target
                        border-radius: 26px 26px 12px 12px 
                    .contact-service-banners
                        border-radius: 12px 12px 26px 26px 


            .submit-but-area
                height: fit-content
                margin-top: 15px

                .submit-but
                    border-radius: 60px
                    margin: 10px 0
                    padding: 15px 35px

            .contact-extra-line-shell
                display: none

            .contacts-extra-area
                // margin-top: 5%
                width: 100%
                // padding: 0 5%
                justify-content: start
                .contacts-extra
                    height: 100%
                    display: flex
                    justify-content: end
                    flex-direction: column
                    .contacts-extra-text
                        display: none

                    .contact-extra-shell
                        margin: 10px 0
                        .icon
                            height: 100%
                            width: 40px
                            margin-right: 13px

                        .email, .telegram
                            font-size: 35px


            $submit-popup-height: 410px
            .submit-popup
                height: 95px
                top: 100px
                left: calc( 50% - $submit-popup-height / 2 )
                width: $submit-popup-height
                border-radius: 26px

                img
                    height: 55px
                    width: 55px

                .submit-popup_text-area
                    height: 55%
                    h4
                        font-size: 19px
                    p
                        font-size: 14px



    footer
        margin: 0px 0 8px 0

        .footer-links-area
            .footer-links
                .the-name
                    font-size: 20px





@media (min-width: 570px) and (max-width: 767px) 
    #portfolio
        .projects-area
            .projects
                margin-left: 24%
            .projects-active
                margin-left: 2%








@media (max-width: 480px) 
    * 
        font-size: 14px


    .section-title
        font-size: 35px
        

    #home
        .nav-bar-area
            height: 15%
            padding: 0 5%

            .nav-bar
                height: 93.5vh
                width: 100.5vw
                flex-direction: column
                justify-content: space-evenly
                border-width: 0
                transform: translateY(0)
                position: fixed
                top: 0
                left: 0
                padding: 7vh 0 0 0
                border-radius: 0
                backdrop-filter: blur(35px)
                border-radius: 0 0 80px 80px
                transform: translateY(-200%)

                .the-name
                    font-size: 35px

                .home-contact-but
                    padding: 15px 20px
                    font-size: 22px
                
                .middle-buts
                    height: 40%
                    width: 100%
                    flex-direction: column
                    justify-content: space-evenly

                    .middle-but-shell
                        height: fit-content
                        padding: 18px 24px
                        font-size: 20px

                    .middle-but-shell_active
                        background: #323030
                        color: #fff
                        text-shadow: 0 0 20px hsla(0, 0%, 100%, 0.4)

                .navbar_close-but
                    display: block
                    width: 70px
                    height: 70px
                    margin: 7% 5% 2% 5%

            .navbar-mobile-but
                display: flex
                height: 55px
                width: 55px
                top: 25px
                right: 25px
            
            .navbar-company-title_mobile
                width: 90%
                height: 80%
                margin-top: 60px
                font-size: 20px
                display: block



        .home-main
            height: 85%

            $home-main-text-shell_padding: 50px
            .home-main-text-shell
                padding-top: $home-main-text-shell_padding
                width: calc( 100% - $home-main-text-shell_padding )
                .home-main-text_bg
                    font-size: 55px
                    letter-spacing: -5px
                    line-height: 70px
                    top: 50px

                .home-main-text
                    letter-spacing: -2px
                    font-size: 35px
                .home-main-text-extra
                    font-size: 15px
    

    #about-target
        .why-target-area
            margin-bottom: 60px
            .why-target-shell
                .why-target-text
                    font-size: 22px
                .why-target-text_active
                    transform: scale(1.5)
            .why-target-arrow
                margin: 12px 0 0 0
                height: 35px

        .about-text-shell
            height: 650px
            width: 80%
            padding: 0 10%
            .about-text
                line-height: 23px


        .benefits-area
            min-height: 70vh
            height: fit-content

            .benefit-card
                border-radius: 35px
                width: 450px
                height: 190px
                padding: 0 20px
                margin: 12px 30px

                .benefit-card-icon
                    width: 55px
                    height: 55px 
                
                .benefit-card-text
                    h4
                        font-size: 16px
                        margin-bottom: 10px 
                    p
                        font-size: 13px




    #services
        margin: 50vh 0 200px 0
        height: 1480px

        h2
            height: 10%
            width: 70%
            padding: 0 15%

        .services-area
            height: 90%
            width: 86%
            padding: 0% 7%
            justify-content: center

            .service-shell
                border-radius: 40px
                background: #161B22
                border: 1px solid #2F353D
                width: 240px
                height: 370px
                margin: 0 auto
                .price-area
                    padding-bottom: 5%
                    height: 35%
                    .discount-num
                        border-radius: 15px
                        padding: 10px 15px
                        font-size: 20px

                    .price-shell
                        .price-currency
                            font-size: 30px
                        .price
                            font-size: 65px

                    .price-extra
                        font-size: 14px

                .order-but-area
                    height: 20%
                    .order-but
                        border-radius: 60px
                        padding: 13px 35px


                .service-text-area
                    height: 40%
                    .service-text
                        font-size: 18px
                    .service-text-extra
                        font-size: 14px



            .service-shell_main
                width: 270px
                height: 420px
                order: -1
                margin: 35px 0
                box-shadow: 0px -10px 120px rgba(255, 167, 81, 0.2)
                border-color: #ffa751
                transform: scale(1.07) 
                .service-text-area
                    .service-text
                        font-size: 26px
    




    #how-it-works
        width: 86vw
        padding: 10vw 7vw 10% 7vw 
        flex-direction: column
        justify-content: start

        h2
            width: 100%
            text-align: center
            top: 100px
            transition: all 0.3s ease

        .how-text-area 
            width: 100%

            p
                font-size: 14px
                .how-point
                    font-size: 24px

                .anti-reveal-how-text
                    font-size: 14px

            .how-num-1
                top: 150px
            .how-num-2
                top: 210px
            .how-num-3
                top: 270px
            .how-num-4
                top: 330px
            .how-num-5
                top: 390px
            .how-num-6
                top: 450px
            .how-num-7
                top: 510px
            .how-num-8
                top: 570px




    #portfolio
        height: 580px
        margin: 250px 0

        .portfolio-title
            width: 70%
            text-align: center
            left: 0
            top: 6%
            font-size: 35px
            margin: 0 15%
        .portfolio-title_active
            color: #726ecf


        .projects-area
            margin-top: 25%
            height: 75%

            .projects-clickable-area
                height: 80%
                width: 20%
            .projects-clickable-area-left
                border-radius: 0 30px 30px 0
                left: -200%
            .projects-clickable-area-right
                border-radius: 30px 0 0 30px 
                right: 0
                width: 100%
            .projects-clickable-area-left_active
                left: 0
            .projects-clickable-area-right_active
                width: 20%

            .projects-clickable-area_mobile
                width: 60%
                margin: 0 0 0 20%

            .projects
                margin-left: 9%
                .project
                    margin: 0 8px
                    width: 220px
                    height: 360px
                    border-radius: 30px
                .project-2
                    z-index: 5
                    transform: scale(0.85) translateX(-90%)
                .project-3
                    z-index: 4
                    transform: scale(0.7) translateX(-230%)

            .projects-active
                margin-left: 2%





    #contact
        // width: 85vw
        height: 1450px 
        padding: 10vh 5vw 8vh 5vw

        .contact-title-area
            height: 8%
            padding: 0 5%
            p
                width: 80%

        .inputs-area
            flex-direction: column
            margin-top: 40px

            .forms
                .input-shell
                    margin: 10px 0
                    .contact-input-label
                        font-size: 16px
                        padding: 0px
                        // margin-bottom: 10px
                        span
                            font-size: 13px

                    .contact-input
                        height: 26px
                        width: 230px
                        padding: 5px 20px
                        font-size: 14px

                    .contact-input-textarea
                        border-radius: 20px
                        height: 100px
                        padding: 10px 20px


                .ckechbox-shell
                    width: 270px
                    margin: 15px 0

                    .contact-input-label
                        font-size: 16px
                        padding: 2px
                        width: 100%
                        margin-bottom: 10px

                    .contact-service-shell
                        height: 45px
                        width: 90%
                        padding: 0 5%
                        border-radius: 10px

                        .checkbox
                            width: 23px
                            height: 23px
                            margin: 0 10% 0 5%
                            .checkbox-filled
                                width: 70%
                                height: 70%
                                border-radius: 4px

                    .contact-service-target
                        border-radius: 24px 24px 12px 12px 
                    .contact-service-banners
                        border-radius: 12px 12px 24px 24px 


            .submit-but-area
                height: fit-content
                margin-top: 15px

                .submit-but
                    border-radius: 60px
                    margin: 10px 0
                    padding: 15px 35px

            .contact-extra-line-shell
                display: none

            .contacts-extra-area
                // margin-top: 5%
                width: 100%
                // padding: 0 5%
                justify-content: start
                .contacts-extra
                    height: 100%
                    display: flex
                    justify-content: end
                    flex-direction: column
                    .contacts-extra-text
                        display: none

                    .contact-extra-shell
                        margin: 10px 0
                        .icon
                            height: 100%
                            width: 25px
                            margin-right: 10px

                        .email, .telegram
                            font-size: 28px

            $submit-popup-height: 340px
            .submit-popup
                height: 80px
                top: 95px
                left: calc( 50% - $submit-popup-height / 2 )
                width: $submit-popup-height
                border-radius: 24px

                img
                    height: 50px
                    width: 50px

                .submit-popup_text-area
                    height: 55%
                    h4
                        font-size: 17px
                    p
                        font-size: 13px



    footer
        height: 70px
        margin: 0px 0 10px 0

        .footer-links-area
            .footer-links
                .the-name
                    font-size: 20px





@media (min-width: 400px) and (max-width: 480px) 
    #portfolio
        .projects-area
            .projects
                margin-left: 14%

            .projects-active
                margin-left: 2%